<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EAACtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EAACtrl.Properties.Settings>
      <setting name="Planatarium" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImagerFOV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FOVICorr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFind" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlewOnTarget" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XPos" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="YPos" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FindProfileOnTarget" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncPlanetariumOnTarget" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="APGetObjectsFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PLGetObjectsFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Expanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpandedTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAMPProfile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAMPWebHub" serializeAs="String">
        <value />
      </setting>
      <setting name="SAMPFOV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAMPImage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CdCAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="CdCPort" serializeAs="String">
        <value>3292</value>
      </setting>
      <setting name="StellariumAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="StellariumPort" serializeAs="String">
        <value>8090</value>
      </setting>
      <setting name="APAutoSort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TSAutoFOVI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StScriptFolder" serializeAs="String">
        <value>C:\Users\peter\AppData\Roaming\Stellarium\scripts</value>
      </setting>
      <setting name="soID" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="soMag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soGalaxyType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soDistance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hubble" serializeAs="String">
        <value>70.4</value>
      </setting>
      <setting name="DistanceUnit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soCatalogue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfMagnitude" serializeAs="String">
        <value />
      </setting>
      <setting name="sfDistMin" serializeAs="String">
        <value />
      </setting>
      <setting name="sfDistMax" serializeAs="String">
        <value />
      </setting>
      <setting name="sfAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sfStars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfGalaxies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfQuasars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfDouble" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfVariable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSharpCapDSA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sResultsList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StFontSize" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="StFontColour" serializeAs="String">
        <value />
      </setting>
      <setting name="StGraphicSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StGraphicColour" serializeAs="String">
        <value />
      </setting>
      <setting name="StGraphic" serializeAs="String">
        <value>circle</value>
      </setting>
      <setting name="sfDatasource" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sfGlobulars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchArea" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchRadius" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="SiteLng" serializeAs="String">
        <value>-1.3150645</value>
      </setting>
      <setting name="SiteLat" serializeAs="String">
        <value>50.7432162</value>
      </setting>
      <setting name="SiteElev" serializeAs="String">
        <value>57</value>
      </setting>
      <setting name="ASCOMTelescope" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="sfNoMag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfNebulae" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sfAstroPlanner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sfPlanetarium" serializeAs="String">
        <value>False</value>
      </setting>
    </EAACtrl.Properties.Settings>
  </userSettings>
</configuration>
